* *::before *::after {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root {
    --Cyan: hsl(179, 62%, 43%);
    --Top-BG: hsl(179, 62%, 43%);
    --Left-BG: hsl(179, 60%, 48%);
    --Right-BG: hsl(179, 86%, 54%);
    --Bright_Yellow: hsl(71, 73%, 54%);
    --Light_Gray: hsl(204, 43%, 93%);
    --Grayish_Blue: hsl(218, 22%, 67%);
    --White: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 0%);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Light_Gray);
}

main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto;
    grid-template-areas: "one one one one"
    "two two three three";
    width: 600px;
    height: 400px;
}

.one {
    grid-area: one;
    background-color: var(--White);
    border-radius: 10px 10px 0 0;
}

.one h3 {
    color: var(--Cyan);
}

.one h4 {
    color: var(--Bright_Yellow);
    margin-bottom: 10px;
}

.one p {
    color: var(--Grayish_Blue);
    line-height: 1.6;
}

section h3, section h4 {
    margin-bottom: 20px;
}